<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <svg class="w-6 h-6 text-gray-800 dark:text-white" width="1.50rem" height="1.50rem" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m10 16 4-4-4-4"/>
          </svg>
        <h1>Affectation</h1>
        <div >
            <input type="text" placeholder="CIN Etudiant" class="form-control"/>
            <input type="text" placeholder="Lieu de stage" class="form-control"/>
            
        </div>
        <div>
            <input type="date"  placeholder="Date début" class="form-control"/>
            <input type="date" placeholder="Date fin" class="form-control"/>    
        </div>
        <div><button>Ajouter</button></div>
        <table class="table table-striped tab">
            <thead>
              <tr>
                <th scope="col">CIN</th>
                <th scope="col">Lieu de stage</th>
                <th scope="col">Date début</th>
                <th scope="col">Date fin</th>
                <th scope="col" style="text-align: center;">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>09754123</td>
                <td>société adinn</td>
                <td>11/01/2024</td>
                <td>03/02/2024</td>
                <td style="text-align: center;">
                  <a href="#"><fa-icon [icon]="faTrashCan" class="icon"></fa-icon></a>
                  <a href="#"><fa-icon [icon]="faFilePen" class="icon"></fa-icon></a>
                  
                </td>
              </tr>
              <tr>
                <td>098745123</td>
                <td>société itquan</td>
                <td>11/01/2024</td>
                <td>03/02/2024</td>
                <td style="text-align: center;">
                  <a href="#"><fa-icon [icon]="faTrashCan" class="icon"></fa-icon></a>
                  <a href="#"><fa-icon [icon]="faFilePen" class="icon"></fa-icon></a>
                  
                </td>
              </tr>
              <tr>
                <td>09754123</td>
                <td>société adinn</td>
                <td>11/01/2024</td>
                <td>03/02/2024</td>
                <td style="text-align: center;">
                  <a href="#"><fa-icon [icon]="faTrashCan" class="icon"></fa-icon></a>
                  <a href="#"><fa-icon [icon]="faFilePen" class="icon"></fa-icon></a>
                  
                </td>
              </tr>
              <tr>
                <td>09754123</td>
                <td>société itquan</td>
                <td>11/01/2024</td>
                <td>03/02/2024</td>
                <td style="text-align: center;">
                  <a href="#"><fa-icon [icon]="faTrashCan" class="icon"></fa-icon></a>
                  <a href="#"><fa-icon [icon]="faFilePen" class="icon"></fa-icon></a>
                  
                </td>
              </tr>
            </tbody>
          </table>
       
       
    </body>
</html>


