<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <svg class="w-6 h-6 text-gray-800 dark:text-white" width="1.50rem" height="1.50rem" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m10 16 4-4-4-4"/>
          </svg>
        <h1>Etudiant</h1>
        <div class="row">
            <div class="col-md-4">
                <input type="text" placeholder="CIN Etudiant" class="form-control"/>
                <input type="text" placeholder="Nom Etudiant" class="form-control"/>
                <button>Ajouter</button>
                
            </div>
            <div class="col-md-4">
                <input type="text" placeholder="Prenom Etudiant" class="form-control"/>
                <input type="email" placeholder="E-mail Etudiant" class="form-control"/>
                
                
            </div>
            <div class="col-md-4">
                <input type="text"  placeholder="Tel Etudiant" class="form-control"/>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-9">
                <table class="table table-striped tab">
                    <thead>
                      <tr>
                        <th scope="col">CIN</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prenom</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Num Tel</th>
                        <th scope="col" style="text-align: center;">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>09612598</td>
                        <td>Majd</td>
                        <td>Rebei</td>
                        <td>majd@gmail.com</td>
                        <td>12345678</td>
                        <td style="text-align: center;">
                          <a href="#"><fa-icon [icon]="faTrashCan" class="icon"></fa-icon></a>
                          <a href="#"><fa-icon [icon]="faFilePen" class="icon"></fa-icon></a>
                          
                        </td>
                      </tr>
                      <tr>
                        <td>09547893</td>
                        <td>soulayma</td>
                        <td>hablani</td>
                        <td>soulayma@gmail.com</td>
                        <td>12345678</td>
                        <td style="text-align: center;">
                          <a href="#"><fa-icon [icon]="faTrashCan" class="icon"></fa-icon></a>
                          <a href="#"><fa-icon [icon]="faFilePen" class="icon"></fa-icon></a>
                          
                        </td>
                      </tr>
                      <tr>
                        <td>096214563</td>
                        <td>asma</td>
                        <td>ousaify</td>
                        <td>asma@gmail.com</td>
                        <td>12345678</td>
                        <td style="text-align: center;">
                          <a href="#"><fa-icon [icon]="faTrashCan" class="icon"></fa-icon></a>
                          <a href="#"><fa-icon [icon]="faFilePen" class="icon"></fa-icon></a>       
                        </td>
                      </tr>
                      <tr>
                        <td>09657493</td>
                        <td>ali</td>
                        <td>Rebei</td>
                        <td>ali@gmail.com</td>
                        <td>12345678</td>
                        <td style="text-align: center;">
                          <a href="#"><fa-icon [icon]="faTrashCan" class="icon"></fa-icon></a>
                          <a href="#"><fa-icon [icon]="faFilePen" class="icon"></fa-icon></a>
                          
                        </td>
                      </tr>
                    </tbody>
                  </table>
    
            </div>
        </div>
        
       
    </body>
</html>
