<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <svg class="w-6 h-6 text-gray-800 dark:text-white" width="1.50rem" height="1.50rem" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m10 16 4-4-4-4"/>
          </svg>
        <h1>Groupe</h1>
        <div>
            <input type="text" placeholder="nom du groupe" class="form-control"/>
            <button>Ajouter</button>
        </div>
        <table class="table table-striped tab">
            <thead>
              <tr>
                <th scope="col">Nom du groupe</th>
                <th scope="col" style="text-align: center;">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>DSI 2.1</td>
                <td style="text-align: center;">
                  <a href="#"><fa-icon [icon]="faTrashCan" class="icon"></fa-icon></a>
                  <a href="#"><fa-icon [icon]="faFilePen" class="icon"></fa-icon></a>
                  
                </td>
              </tr>
              <tr>
                <td>DSI 2.2</td>
                <td style="text-align: center;">
                  <a href="#"><fa-icon [icon]="faTrashCan" class="icon"></fa-icon></a>
                  <a href="#"><fa-icon [icon]="faFilePen" class="icon"></fa-icon></a>
                  
                </td>
                <tr>
                    <td>EI 2</td>
                    <td style="text-align: center;">
                      <a href="#"><fa-icon [icon]="faTrashCan" class="icon"></fa-icon></a>
                      <a href="#"><fa-icon [icon]="faFilePen" class="icon"></fa-icon></a>
                      
                    </td>
                  </tr>
                  <tr>
                    <td>AI 2</td>
                    <td style="text-align: center;">
                      <a href="#"><fa-icon [icon]="faTrashCan" class="icon"></fa-icon></a>
                      <a href="#"><fa-icon [icon]="faFilePen" class="icon"></fa-icon></a>
                      
                    </td>
                  </tr>
                  <tr>
                    <td> GE 1.1</td>
                    <td style="text-align: center;">
                      <a href="#"><fa-icon [icon]="faTrashCan" class="icon"></fa-icon></a>
                      <a href="#"><fa-icon [icon]="faFilePen" class="icon"></fa-icon></a>
                      
                    </td>
                  </tr>
                 
              
              
            </tbody>
          </table>
            
            
       
    </body>
</html>
