<!DOCTYPE html>
<!-- Coding by CodingNepal | www.codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Responsiive Admin Dashboard | CodingLab </title>
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <section class="home-section">
    <svg class="w-6 h-6 text-gray-800 dark:text-white" width="1.50rem" height="1.50rem" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m10 16 4-4-4-4"/>
    </svg>
  <h1>Dashboard</h1>
    <div class="home-content">
      <div class="overview-boxes">
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Number Des Etudiantes</div>
            <div class="number">300</div>
          </div>
          <i class='bx bxs-user cart'></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Number Des Etudiants</div>
            <div class="number">200</div>
          </div>
          <i class='bx bxs-user cart two' ></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Number Total</div>
            <div class="number">500</div>
          </div>
          <i class='bx bx-plus cart four' ></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Number Des Departements</div>
            <div class="number">4</div>
          </div>
          <i class='bx bx-buildings cart three' ></i>
        </div>
      
      </div>

      <div class="sales-boxes">
        <div class="recent-sales box">
          <div class="sales-details">
            <ul class="details">
            <li class="topic">Nom</li>
            <li><a href="#">Majd</a></li>
            <li><a href="#">Amal</a></li>
            <li><a href="#">Ala</a></li>
            <li><a href="#">Mariem</a></li>
            <li><a href="#">Ahmed</a></li>
            <li><a href="#">Asma</a></li>
            <li><a href="#">Soulayma</a></li>
            <li><a href="#">Omelkir</a></li>
             <li><a href="#">Fatma</a></li>
          </ul>

          <ul class="details">
            <li class="topic">Prenom</li>
            <li><a href="#">Rebei</a></li>
            <li><a href="#">----</a></li>
            <li><a href="#">----</a></li>
            <li><a href="#">Zaara</a></li>
            <li><a href="#">----</a></li>
            <li><a href="#">wsaifi</a></li>
            <li><a href="#">hablani</a></li>
             <li><a href="#">Rebei</a></li>
            <li><a href="#">-----</a></li>
          </ul>
          <ul class="details">
            <li class="topic">E-mail</li>
            <li><a href="#">majd@gmail.com</a></li>
            <li><a href="#">Amal@gmail.com</a></li>
            <li><a href="#">Ala@gmail.com</a></li>
            <li><a href="#">Mariem@gmail.com</a></li>
            <li><a href="#">Ahmed@gmail.com</a></li>
            <li><a href="#">Asma@gmail.com</a></li>
            <li><a href="#">Soulayma@gmail.com</a></li>
             <li><a href="#">Omelkir@gmail.com</a></li>
             <li><a href="#">Fatma@gmail.com</a></li>
          </ul>
          <ul class="details">
            <li class="topic">Num-tel</li>
            <li><a href="#">12345678</a></li>
            <li><a href="#">12345678</a></li>
            <li><a href="#">12345678</a></li>
            <li><a href="#">12345678</a></li>
            <li><a href="#">12345678</a></li>
            <li><a href="#">12345678</a></li>
            <li><a href="#">12345678</a></li>
             <li><a href="#">12345678</a></li>
             <li><a href="#">12345678</a></li>
          </ul>
          
          </div>
        </div>
        <div class="top-sales box">
          <div class="title">Technologies de l'informatique (TI)</div>
          <ul class="top-sales-details">
            <li>
            <a href="#" class="liste">
              <span class="product">TI 1.1 </span>
            </a>
          </li>
          <li>
            <a href="#" class="liste">
              <span class="product">DSI 2.1</span>
            </a>
          </li>
          <li>
            <a href="#" class="liste">
              <span class="product">RSI 2.1</span>
            </a>
          </li>
          <li>
            <a href="#" class="liste">
              <span class="product">DSI 3.1</span>
            </a>
          </li>
          <li>
            <a href="#" class="liste">
              <span class="product">RSI 3.1 </span>
            </a>
          </li>
          <li>
           
          </ul>
          <div class="title">Génie Electrique (GE)</div>
          <ul class="top-sales-details">
            <li>
            <a href="#" class="liste">
              <span class="product">EI 2</span>
            </a>
          </li>
          <li>
            <a href="#" class="liste">
              <span class="product">AI 2</span>
            </a>
          </li>
          <li>
            <a href="#" class="liste">
              <span class="product">GE 1.1</span>
            </a>
          </li>
          </ul>
          <div class="title">Génie Civil (GC)</div>
          <ul class="top-sales-details">
            <li>
            <a href="#" class="liste">
              <span class="product">BAT 2</span>
            </a>
          </li>
          <li>
            <a href="#" class="liste">
              <span class="product">TP 2</span>
            </a>
          </li>
          <li>
            <a href="#" class="liste">
              <span class="product">GC 1.2</span>
            </a>
          </li>
          </ul>
          <div class="title">Génie Micanique (GM)</div>
          <ul class="top-sales-details">
            <li>
            <a href="#" class="liste">
              <span class="product">BAT 2</span>
            </a>
          </li>
          <li>
            <a href="#" class="liste">
              <span class="product">TP 2</span>
            </a>
          </li>
          <li>
            <a href="#" class="liste">
              <span class="product">GC 1.2</span>
            </a>
          </li>
          </ul>
          
        </div>
      </div>
    </div>
  </section>

</body>
</html>
